.node{
  aspect-ratio: 1;
  min-width: 60px;
  border: 1px solid black;
  display: flex;  
  align-items: center;
  justify-content: center;
}
.node p{
  font-size: 10px;
}
.node[data-obs=true]{
  background-color: rgba(128, 128, 128, 0.524);
}
.node[data-neighbor=true]{
  background-color: yellow;
}
.node[data-active=true]{
  background-color: green;
}
.node[data-path=true]{
  background-color: purple !important;
}

.grid{
  display: flex;
  /* width: 168px; */
  flex-wrap: wrap;
}